@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --background-image-hero: url("/images/heroImage.jpg");
  --color-foreground: var(--foreground);
  --color-pending: var(--pending);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
}

:root {
  --foreground: #171717;
  --primary: #571244;
  --secondary: #ef4353;
  --foreground: #8f6182;
  --pending: #1671d9;
  --muted: #c4c4c44d;
  --muted-foreground: #696969;
  --background: #1d0617;
  --background-dark: #11040e;
}

body {
  --font-heading: var(--font-nunito);
  --font-body: var(--font-nunito-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito);
}

p,
span,
a,
li,
input,
button {
  font-family: var(--font-nunito-sans);
}
