@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --background-image-hero: url("/images/heroImage.jpg");
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary: #571244;
  --secondary: #ef4353;
}

body {
  background: var(--background);
  color: var(--foreground);
  --font-heading: var(--font-nunito);
  --font-body: var(--font-nunito-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito);
}

p,
span,
a,
li,
input,
button {
  font-family: var(--font-nunito-sans);
}
